.section_top {
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 1030px;
}

@media screen and (min-width: 767.9px) {
  .section_top {
    background-image: url("../img/head_banner.jpg");
  }
}

.section_top h1 {
  color: #FFFFFF;
  margin-top: 223px;
  font-weight: bold;
  font-size: 48px;
}

.corea_img {
  margin-top: 92px;
}

@media screen and (max-width: 1650px) {
  .section_top {
    background-size: contain;
    background-position: top center;
    min-height: 735px;
  }
  .section_top h1 {
    margin-top: 157px;
    font-size: 34px;
  }
  .corea_img {
    margin-top: 66px;
  }
  .corea_img img{
    width: 67px;
  }

}


@media screen and (max-width: 1050px) {
  .section_top h1 {
    margin-top: 107px;
    font-size: 34px;
  }
  .corea_img {
    margin-top: 46px;
  }
}

@media screen and (max-width: 767.9px) {
  .section_top h1 {
    margin-top: 100px;
    font-size: 27px;
  }

  .section_top {
    background-size: cover;
    background-image: url("../img/head_banner_mob.jpg");
    min-height: 0;
    position: relative;
  }

  .corea_img {
    margin-top: 70px;
    img {
      margin-bottom: 100px;
    }
  }

  .section_top:after {
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: #003180;
    bottom: -10px;
    left: 5%;
    content: '';
  }
}